* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fafafa;
}

.container {
    height: 410px;
    width: 350px;
    border: 1px solid #e4e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    flex-direction: column;
}

.inputs {
    height: 40px;
    width: 270px;
    background-color: #FAFAFA;
    border: 1px solid rgb(227, 219, 219);
    margin-bottom: 5px;
    border-radius: 3%;
    font-size: 12px;
    padding: 9px 0px 7px 8px;
}

.btn {
    font: 800;
    color: white;
    background-color: rgb(53, 164, 238);
    border: none;
    width: 100%;
    height: 38px;
    border-radius: 5%;
    margin-top: 9px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(23, 151, 236);
}

.result-container {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    z-index: 10;
}

.result-container ul {
    list-style-type: none;
}

.close-btn {
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: right;
    color: #737373;
    font-weight: bold;
}

.facebook {
    margin-top: 20px;
}

.flogin {
    text-decoration: none;
    color: #385185;
    font-family: 'Franklin Gothic Medium';
}

.face {
    height: 16px;
    border-radius: 2%;
    margin-right: 7px;
}

.forgot {
    margin-top: 25px;
}

.forgot a {
    font-size: 14px;
    font-family: sans-serif;
    color: #00376B;
    text-decoration: none;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 65px;
    margin-top: 10px;
    border: 1px solid #e4e1e1;
}

.signup p {
    font-size: 14px;
}

.signup a {
    text-decoration: none;
    color: rgb(53, 164, 238);
    font-weight: 800;
}

.getapp {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

.getapp p {
    margin-top: 15px;
}

.footer {
    margin-top: 12px;
}

.footer img {
    border-radius: 5%;
}

.gpay {
    margin-right: 5px;
}

.linkes a {
    font-size: 12px;
    text-decoration: none;
    color: #737373;
    margin-right: 10px;
}

.linkes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    width: 100%;
}

.lineset {
    padding-left: 20px;
    margin-top: 8px;
}

.end {
    margin: 12px 0px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: #737373;
}

.end select {
    font-size: 12px;
    color: #737373;
    margin-right: 10px;
    border: none;
}
